.cv__hero {
    display: grid;
    grid-template-columns: 26% 1fr;
    gap: 2.5rem;
    padding-block: 0.5rem 1rem;

    > * {
        justify-self: center;
    }

    &-picture {
        width: 9rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    &-content {
        display: grid;
        align-content: center;
        gap: 0.5rem;
    }

    &-name {
        font-size: clamp(1.75rem, 1.1786rem + 1.1905vw, 2.25rem);
        font-weight: 500;
    }

    &-title {
        font-size: clamp(1.3125rem, 0.9554rem + 0.744vw, 1.625rem);
    }
}
