@use '@/style/reset';
@use '@/style/breakpoints';
@use '@/style/colors';
@use '@/style/components';
@use '@/style/animations';

:root {
    background-color: colors.$bg-primary;
    font-family:
        Roboto, system-ui, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: colors.$text-primary;
}

#root {
    width: 100%;
    max-width: breakpoints.$max;
    min-width: breakpoints.$min;
    min-height: 100vh;
    margin: auto;
    padding-block: min(2rem, 3vh);
    padding-inline: min(1rem, 1.5%);
}
